### Common ###
*.log
*.pot
*.pyc
__pycache__/
__pypackages__/
*.DS_Store
Thumbs.db

### PyCharm ###
.idea
### Environments ###
*.env
### Project ###
backend/staticfiles/*
backend/nginx_logs/*
db_data/*
todo.txt